<header class="header py-3 pt-lg-10 pb-lg-4">
  <nav class="navbar navbar-expand-lg py-0">
    <div class="container-lg">
      <div class="header__inner d-flex justify-content-between align-items-center w-100 py-lg-4 px-lg-10">
        <div class="d-flex justify-content-center align-items-center">
          <a class="navbar-brand py-0 me-2 me-xl-6 flex-shrink-0" href="index.html">
            <img src="../assets/images/logo.png" alt="main-logo.png" class="header__logo">
          </a>
          <div class="dropdown d-none d-lg-block position-static mx-6">
            <a class="dropdown-toggle-arrow-down" href="#" role="button" data-bs-toggle="dropdown"   data-bs-auto-close="outside" aria-expanded="false">
            探索
            </a>
            <div class="header__menuList-desk dropdown-menu start-0 start-xl-15 top-110 p-0 border-0">
              <div class="d-flex">
                <div class="bg-gray-40 p-3 section">
                  <h3 class="title py-3 pe-3 ps-6 mb-2">探索全部</h3>
                  <ul class="list list-unstyled" data-desk-menu>
                    <li>
                      <a href="#second-menu" class="dropdown-item">
                        音樂
                        <span class="material-symbols-outlined">chevron_right</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="p-3 section">
                  <h3 class="title py-3 pe-3 ps-6 mb-2">所有程式</h3>
                  <ul class="list list-unstyled" data-desk-sec-menu>
                    <li>
                      <a href="#second-menu" class="dropdown-item">
                        音樂
                        <span class="material-symbols-outlined">chevron_right</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="py-3 px-6 section">
                  <div class="d-flex align-items-center pb-4 border-bottom mb-4">
                    <img src="../assets/images/icons/ic_fire.png" alt="icon-fire" width="24" height="24" class="me-2">
                    <h3 class="fs-7">熱門網頁前端課程</h3>
                  </div>
                  <ul class="course-list list-unstyled">
                    <li class="cardCourse mb-4">
                      <div class="position-relative me-2 flex-shrink-0">
                        <img class="cardCourse-img object-fit-cover" src="../assets/images/course-5.png" alt="course-5-img">
                        <div class="cardCourse-tag position-absolute bg-alert-10 text-alert py-1 px-2 fw-normal fs-8 rounded-6">
                          8 折
                        </div>
                      </div>
                      <div>
                        <h3 class="cardCourse-title mb-4">小白也會！從零開始學習 Python 程式設計</h3>
                        <div class="cardCourse-price mb-4">
                          <div class="avatar">
                            <img class="avatar-img object-fit-cover" src="../assets/images/avatar-2.png" alt="avatar-2-img">
                            <h4 class="avatar-title">Kelly Hsu</h4>
                          </div>
                          <div>
                            <p class="discount-price">NT$ 2,480</p>
                            <p class="origin-price">NT$ 3,200</p>
                          </div>
                        </div>
                        <div class="d-flex justify-content-between">
                          <div class="fs-8 text-gray-80">
                            <p class="py-1 px-3">程式開發</p>
                            <p>已有 420 位同學加入</p>
                          </div>
                          <div class="rate">
                            <img src="../assets/images/icons/ic_star.svg" alt="icon-star">
                            <p class="rate-text">4.0</p>
                            <p class="rate-count">(333)</p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="cardCourse mb-4">
                      <div class="position-relative me-2 flex-shrink-0">
                        <img class="cardCourse-img object-fit-cover" src="../assets/images/course-5.png" alt="course-5-img">
                        <div class="cardCourse-tag position-absolute bg-alert-10 text-alert py-1 px-2 fw-normal fs-8 rounded-6">
                          8 折
                        </div>
                      </div>
                      <div>
                        <h3 class="cardCourse-title mb-4">小白也會！從零開始學習 Python 程式設計</h3>
                        <div class="cardCourse-price mb-4">
                          <div class="avatar">
                            <img class="avatar-img object-fit-cover" src="../assets/images/avatar-2.png" alt="avatar-2-img">
                            <h4 class="avatar-title">Kelly Hsu</h4>
                          </div>
                          <div>
                            <p class="discount-price">NT$ 2,480</p>
                            <p class="origin-price">NT$ 3,200</p>
                          </div>
                        </div>
                        <div class="d-flex justify-content-between">
                          <div class="fs-8 text-gray-80">
                            <p class="py-1 px-3">程式開發</p>
                            <p>已有 420 位同學加入</p>
                          </div>
                          <div class="rate">
                            <img src="../assets/images/icons/ic_star.svg" alt="icon-star">
                            <p class="rate-text">4.0</p>
                            <p class="rate-count">(333)</p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="cardCourse mb-4">
                      <div class="position-relative me-2 flex-shrink-0">
                        <img class="cardCourse-img object-fit-cover" src="../assets/images/course-5.png" alt="course-5-img">
                        <div class="cardCourse-tag position-absolute bg-alert-10 text-alert py-1 px-2 fw-normal fs-8 rounded-6">
                          8 折
                        </div>
                      </div>
                      <div>
                        <h3 class="cardCourse-title mb-4">小白也會！從零開始學習 Python 程式設計</h3>
                        <div class="cardCourse-price mb-4">
                          <div class="avatar">
                            <img class="avatar-img object-fit-cover" src="../assets/images/avatar-2.png" alt="avatar-2-img">
                            <h4 class="avatar-title">Kelly Hsu</h4>
                          </div>
                          <div>
                            <p class="discount-price">NT$ 2,480</p>
                            <p class="origin-price">NT$ 3,200</p>
                          </div>
                        </div>
                        <div class="d-flex justify-content-between">
                          <div class="fs-8 text-gray-80">
                            <p class="py-1 px-3">程式開發</p>
                            <p>已有 420 位同學加入</p>
                          </div>
                          <div class="rate">
                            <img src="../assets/images/icons/ic_star.svg" alt="icon-star">
                            <p class="rate-text">4.0</p>
                            <p class="rate-count">(333)</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="header__search position-relative d-none d-lg-block">
            <label for="nav-search" class="position-absolute top-50 translate-middle-y">
              <span class="material-symbols-outlined">search</span>
            </label>
            <input type="text" id="nav-search" class="form-control ps-10 d-none d-lg-block"
              placeholder="搜尋各種音樂、數學、程式及設計課程">
            <button class="btn btn-primary btn-sm position-absolute top-50 translate-middle-y">
              搜尋
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="dropdown dropdow-info me-lg-4">
            <a href="#" class="py-2 px-3" data-bs-toggle="dropdown">
              <div class="position-relative">  
                <span class="material-symbols-outlined">notifications</span>
                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-primary border border-light rounded-circle <%= isLogin === 'true' ? '' : 'd-none' %>">
                  <span class="visually-hidden">New alerts</span>
                </span>
              </div>
            </a>
            <ul class="dropdown-menu <%= isLogin === 'true' ? '' : 'd-none' %>">
              <li class="dropdown-header text-end text-primary">
                <p>
                  <span class="material-symbols-rounded">check_circle</span>
                  全部標記為已讀
                </p>
              </li>
            </ul>
          </div>
          <a href="#" class="py-2 px-3 me-lg-4">
            <div class="position-relative">      
              <span class="material-symbols-outlined">shopping_cart</span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary
                <%= isLogin === 'true' ? '' : 'd-none' %>">
                2
                <span class="visually-hidden">unread messages</span>
              </span>
            </div>
          </a>
          <a href="#" class="btn btn-primary d-none
            <%= isLogin === 'true' ? '' : 'd-lg-block' %>">
            登入/註冊
          </a>
          <a class="avatar d-none <%= isLogin === 'true' ? 'd-lg-flex' : '' %>"
            href="#"
            role="button"
            aria-expanded="false">
            <img class="avatar-img avatar-img-lg object-fit-cover mr-1"
              src="../assets/images/avatar-1.png"
              alt="avatar-1-img">
            <p class="avatar-title avatar-title-bold">Kelly Hsu</p>
          </a>
          <a href="#phoneMenu" class="py-2 px-3 d-lg-none"  data-bs-toggle="offcanvas">    
            <span class="material-symbols-rounded">menu</span>
          </a>
          <div class="header__menuList-phone d-lg-none offcanvas offcanvas-start pt-4 px-6" tabindex="-1" id="phoneMenu" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header py-3 pe-3 ps-6 mb-2" data-phone-header>
              <h3 class="offcanvas-title title">探索全部</h3>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-0">
              <ul class="list-unstyled" data-phone-menu>
                <li>
                  <a href="#second-menu" class="dropdown-item">
                    音樂
                    <span class="material-symbols-outlined">chevron_right</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="position-absoulute py-3 <%= isLogin === 'true' ? 'd-none' : '' %>">
              <a href="#" class="btn btn-primary w-100">
                登入/註冊
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<script type="module" src="../assets/js/header.js"></script>